* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg {
    background-image: url("images/backgroundimage.jpg"); 
    height: 920px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 15%;
    
}

