* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-cover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#card { 
    display: grid;
    width: 100%;
    max-height: 400px;
    column-gap: 20px;
    margin-bottom: 0;
}










